PORT=5000
MONGODB_URI=mongodb+srv://cssharma1206_db_user:Retl%403116@cluster0.uaeqf7p.mongodb.net/taskflow?appName=Cluster0
JWT_SECRET=mysecretkey1312
NODE_ENV=development
CLIENT_URL=http://localhost:5173
